<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="log4net.Config" value="log4net.config" />
    <add key="PoGoBot.Logic.Accounts" value="config/accounts.json" />
    <add key="PoGoBot.Logic.Settings" value="config/settings.json" />
    <add key="PoGoBot.Logic.Tokens.Directory" value="cache/tokens" />
    <add key="POGOLib.Templates.Directory" value="cache/templates" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;libs;languages" />
    </assemblyBinding>
  </runtime>
</configuration>